{% load compress %}
{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Paylio - Money Transfer and Online Payments HTML Template</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

    <link rel="shortcut icon" href="{% static 'images/fav.png' %}" type="image/x-icon">
    
</head>

<body>
    {% comment %} LOAD NAVBAR HERE {% endcomment %}
    {% block navbar %}
    
    {% comment %} NAVBAR CONTENT HERE {% endcomment %}

    {% endblock navbar %}

    {% comment %} LOAD CONTENT HERE {% endcomment %}

    {% block content %}

    {% comment %} CONTENTS GOES HERE {% endcomment %}

    {% endblock  %}



    {% comment %} LOAD FOOTER HERE {% endcomment %}
    {% include 'includes/footer.html' %}
    
            